/* Color Palette 
#FFFFFF -- White (obv.)
#000000 -- Black (duh)
#1B9CF7 -- Blue
#FE4250 -- Red
#FF8C0F -- Orange
*/

/* Global Styles
--------------------------------- */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
body {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;   
}
.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    overflow: hidden;
		
	
}

.column-narrow {
    width: 30%;
    float: left;
}
.column-wide {
    width: 70%;
    float: left;
    padding-left: 40px;
	
}

h1, h2 {
    font-weight: 100;
}
h1 {
    font-size: 4em;
}
h2 {
    font-size: 2.5em;
    margin-top: 50px; 
}
a {
    color: skyblue;
}
a:hover {
    text-decoration: none; 
}

/* Header and Footer 
--------------------------------- */
header, footer {
    color: black;  
}
.profile-img {
    border-radius: 50%;
}

header h1, header h2 {
    color: skyblue;
    margin: 0;
}
/* footer */
footer {
    text-align: center;
	margin-top:50px;
}
.contact-info a {
    padding: 10px;
    display: inline-block;
}

/* Portfolio
--------------------------------- */
/*
 .portfolio {
    max-width: 950px;
} 
*/


/* Skills
--------------------------------- */
/* .skills {
    background: lightseagreen;
} */




/* propery: value */